<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="questionDao" class="ru.otus.homework01.dao.QuestionDaoImpl">
            <constructor-arg value="${file.name}"/>
    </bean>

    <bean id="consoleService" class="ru.otus.homework01.service.ConsoleServiceImpl"/>

    <bean id="questionService" class="ru.otus.homework01.service.QuestionServiceImpl">
        <constructor-arg ref="questionDao"/>
        <constructor-arg ref="consoleService"/>
    </bean>

    <bean id="studentService" class="ru.otus.homework01.service.StudentServiceImpl">
        <constructor-arg ref="consoleService"/>
    </bean>

    <bean id="evaluationService" class="ru.otus.homework01.service.EvaluationServiceImpl">
        <constructor-arg ref="consoleService"/>
    </bean>

    <context:property-placeholder location="classpath:application.properties" />

</beans>